@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilos generales para la barra de desplazamiento */
.modal-content::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra */
}

/* Fondo de la barra de desplazamiento */
.modal-content::-webkit-scrollbar-track {
  background: transparent; /* Fondo transparente */
}

/* Color y bordes de la barra */
.modal-content::-webkit-scrollbar-thumb {
  background: #888; /* Color gris oscuro */
  border-radius: 10px; /* Bordes redondeados */
}

/* Cambio de color al pasar el cursor */
.modal-content::-webkit-scrollbar-thumb:hover {
  background: #555; /* Un poco más oscuro al pasar el cursor */
}